
@font-face{
    font-family:mn;
    src:url("../fonts/maison/MaisonNeue-Light.woff") format('woff');
    font-style:normal;
    font-weight:200
}
@font-face{
    font-family:mn;
    src:url("../fonts/maison/MaisonNeue-Book.woff") format('woff');
    font-style:normal;
    font-weight:300
}
@font-face{
    font-family:mn;
    src:url("../fonts/maison/MaisonNeue-Medium.woff") format('woff');
    font-style:normal;
    font-weight:400
}
@font-face{
    font-family:mn;
    src:url("../fonts/maison/MaisonNeue-Demi.woff") format('woff');
    font-style:normal;
    font-weight:500
}
@font-face{
    font-family:mn;
    src:url("../fonts/maison/MaisonNeue-Bold.woff") format('woff');
    font-style:normal;
    font-weight:700
}


/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html {
	font-size: 62.5%;
}

body {
	color: #fff;
	background-color: #556677;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

a {
	text-decoration: none;
	color: white;
}

ul, li {
	list-style-type: none;
}


.q_split {
  display: block;
  /*overflow: hidden;*/
  /*overflow-y:hidden;*/
  /*overflow-x:visible;*/
}
.q_split_wrap {
  display: block;
}


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
	text-align: center;
	/*max-width: 1280px;
	margin: 0 auto;*/
}


h1 {
	font-family: 'mn', Arial, sans-serif;
	font-size: 8em;
	margin-bottom: 20px;
	color: black;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  margin:0px;
}

header {
		font-family: 'mn', Arial, sans-serif;
		font-size: 4em;
		margin-bottom: 20px;
		color: black;
		-webkit-text-fill-color: white; 
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
}

h2 {
	text-transform: lowercase;
	font-size: 4em;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
	font-family:'Helvetica Neue';
}

p {
	font-size:14px;
	line-height:1.8;
	font-weight:400;
	letter-spacing: 1px;
}

@media screen and (max-width: 812px) {h1 {font-size: 4.5em;} p{padding: 0 2.5em;}}

@media screen and (max-width: 320px){h1 {font-size: 4em;}p {font-size: 13px; padding: 0 2.5em;}}
.subHeading { 
margin: 30px; 
margin-top: 20px;}


.button {
	display: inline-block;
	text-align: center;
	padding:8px 30px;
	border: 1px solid #fff;
	color:#fff;
	font-size:14px;
	transition: all .2s ease;
}

@media screen and (max-width: 768px) {.button {padding: 6px 45px;}}
@media screen and (max-width: 320px) {.button {padding: 6px 45px;}}

.viewmore-container .button2, .button3{

	position: relative;
	height: 28px;
	width: auto;
	padding:5px 30px;
	border: 1px solid #000 !important;
	color:#000 !important;
	font-size:14px;
	transition: all .2s ease;
	background-color: white;

	

}

.button:hover {
	background:#fff;
	color:#000;
}


.description {
	text-align: left !important;
}

 .mydot{
     background:orange;
     border-radius: 50%;
     display: inline-block;
     height: 10px;
     margin-left: 4px;
     margin-right: 4px;
     width: 10px;
}

.black {
	color: black;
		-webkit-text-fill-color: white; 
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
}

.description .title p {color: rgba(0,0,0,0.4);	font-family: "Helvetica Neue";	font-size: 11.2px;	letter-spacing: 0.64px;}
.description .subtitle h3 { font-size: 23.2px;	font-weight: bold;	letter-spacing: 0.64px; }
.description .subtitle small {font-size: 11.2px; padding-top: 3%;letter-spacing: 0.64px;}
.description .detail {display: flex;}
.description .detail #start {align-items: flex-start; font-size: 8.8px; color: rgba(0,0,0,0.39); letter-spacing: 0.94px;}
.description .detail #end {align-items: flex-end; color: rgba(0,0,0,0.39); padding-left: 20px; font-size: 8.8px; padding-top: 0.4%; letter-spacing: 0.94px;}
/* NAV BAR STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
	display: flex;
	justify-content: space-between;
	padding:84px;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	z-index: 9;}
@media screen and (max-width: 812px) {
	nav {padding:20px;}
}


.navbar .menu-pages{display: flex;}
.navbar .menu-pages li {
	padding: 0 20px;
	font-size: 1.5em;
	font-weight: 700;
	padding-top: 1%;
}
@media screen and (max-width: 1024px){
	.navbar .menu-pages li {padding: 0 10px;
	font-size: 1.3em;
	padding-top: 1.5%;}
}
.navbar .imglogo {width:150px;height:auto; padding-top: 5%;}
.navbar .logopot .dark {display: none;}
.navbar .search {position:relative;}
.navbar .search svg {
	fill:#fff;
	width:13px;
	position:absolute;
}
.navbar .search a {padding-left:20px;}
.navbar .menu-pages *{color: rgba(255,255,255,0.4);}
.navbar .menu-pages a {transition: color .2s ease;}
.navbar .menu-pages a.active {color:#fff;}
.navbar .menu-pages a:hover {color:#fff;}
.navbar.white .menu-pages *{	color: rgba(0,0,0,0.4);}
.navbar.white .menu-pages a.active {color:#000;}
.navbar.white .menu-pages a:hover {color:#000;}
.navbar.white .search svg {fill:#000;}
.navbar.white .button {border-color: #000;color:#000;}
.navbar.white .button:hover {background-color: #000;color:#fff;}
.navbar.white .logopot .light {display: none;}
.navbar.white .logopot .dark {display: block;}
.nav-toggle{  display: flex; align-items: center; }
.box-shadow-menu {position: relative; width: 25px;
    height: 25px; display: flex;justify-content: center;
    align-items: center;padding-right: 4em;top: 11%;}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  border-bottom: 0.7em double white; 
    border-top: 0.15em solid white; 
    height: 0.313em; 
    width:2em;  

}

.search-icon img {position: relative; display: block;    padding-left: 3.5em; top: -1.5em;}

#nav-toggle { display: none; cursor: pointer; }
@media screen and  (max-width: 812px) {
	#nav-toggle {display:inline;}
	#js-menu{display: none;}
	.booknow{display: none;}
}

/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}

.fp-controlArrow {
	
  height: 100%;
  margin-top: 0;
  top: 0;
  background-image: none;
  border:none;
  cursor:none;
}

.fp-controlArrow.fp-prev {
	left:0;
	width: 40%;
}
.fp-controlArrow.fp-next {
	right:0;
	width: 40%;
}


.arrow-cursor {
	width: 80px;
  height: 110px;
  position: fixed;
  z-index: 10000000;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  


}

.arrow-cursor.hover {
	opacity:1;
}

.arrow-cursor .arrow-cursor__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.arrow-cursor .arrow-cursor__icon .arrow-cursor__path {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}


/* COMPONENT STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */


section {
	position: relative;
	background-color: #000;
}

.section2 {
	position:relative;
	background-color: #fff !important;
}


.slide {
	overflow:hidden;
}

.section .background {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  opacity:.8;
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  transform-origin: center center;
}

.box-des { margin: 1em 2em !important; }

.section .section_content {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:0 auto !important;}
/*
  @media screen and (max-width: 768px) {
  	#res-content{height:111%;}
  }
 @media screen and (max-width: 320px) {
  	#res-content {height:111%;}
  }*/

.section .section_content p {
	max-width: 295px;
	margin:40px auto;
}

.mobile-booknow { 
	background-color: #fff; 
	height:5.25em; 
	width:100%; 
	display: none;
	position: absolute; 
	bottom: 0;
 }

 @media screen and (min-width: 667px){
 	#booknow { margin-left: -20%; }}
 	 @media screen and (min-width: 667px){
 	#booknow { margin-left: -16%; }}
 .btn2 { 
 color: #000;
 font-size: 1.5em;
 font-weight:500;
 padding: 0.938em 9.69em;
 width: 100%;
 text-align: center; }

 @media screen and (max-width: 768px){
 	.mobile-booknow {display:flex;} 
 }
 @media screen and (max-width:320px) {
 	.mobile-booknow {display:flex;} 
 	.btn2{font-size:1.27em; padding: 1.5em 9.7em;}
 }


/* SECTON WHITE BACKGROUND STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section .container {
	height: 100%;
	display: grid;
	grid-gap: 10px;
	/*grid-template-columns: repeat(3, 1fr) ;*/
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-template-rows: 11.2em auto 9.2em;
	padding: 16.6em 6.2em 15.6em;
	max-width: 1280px;
	margin: 0 auto;
}

@media screen and (max-width: 720px) {.section .container{padding:9.6em .2em 15.6em;}}
@media screen and (max-width: 768px) {.section .container{padding:15.6em 7em 15.6em;;}}
.wrap-2 {
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
	display: grid; 
	grid-gap: 2px;
	grid-template-columns: repeat(14, 1fr) ;
	padding: 18.6em 5.2em 15.6em; 
	padding-right: 20px;
	max-height: 50vh;
	padding-top: 0;
}

.titlewrap {

	grid-column: 1/-1;
	display: flex; 
	align-items: flex-start;
	padding-left:2%;

}

.list-container {
	grid-column: 1/-1;
 	grid-column-gap: 40px;

 	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  	-webkit-box-pack: justify;
  	-webkit-justify-content: space-between;
  	-ms-flex-pack: justify;
  	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.container {
		  display: grid;
		  grid-gap: calc(var(--gutter) / 2);
		  grid-template-columns: repeat(3, calc(50% - var(--gutter) * 2));
		  grid-template-rows: minmax(150px, 1fr);
		  overflow-x: scroll;
		 /* scroll-snap-type: x proximity;*/
		  padding-bottom: calc(.75 * var(--gutter));
		  margin-bottom: calc(-.25 * var(--gutter));
	}

	.list-container{ 

		    scroll-snap-align: center;
  			padding: calc(var(--gutter) / 2 * 1.5);
  			display: flex;
  			flex-direction: row;
  			justify-content: center;
  			align-items: center;
	 }
}


.viewmore-container{
	grid-column: 1/-1;
	display: flex; 
	align-items: flex-end;
	
}
.list-container .imgcontainer .imagevent {
	  width: 90%;
      height: auto;
      object-fit: cover;

}
.description, .description .subtitle{margin-top: 3%;}
.description .subtitle{font-size: bold;}
.description .detail {margin-top:5%;margin-bottom:5%;}
.overflow {overflow: hidden;}
.white {background: white; text-align: left;}
.description .title, .description .subtitle, .description .detail , .black-des {color: black;font-family: 'Helvetica Neue';}


/* JOURNAL PAGE STYLES- fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.box1 { margin: 10px 0 ; }
.box1 { padding-top: 20%; margin-right: 60px; }
.box2 { grid-column: 2 / span 5; max-height: 500px;}
.box2-des { padding-top: 50%;}
.box2-des p {line-height: 1;}
.box2-des :nth-child(2){padding-right: 50px; }
.box1, .box2, .box3, .box4 { max-height: 60vh;}

.box3 {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    grid-column: 7/span 7 ;
    max-height: 500px;

}

.box3 .imgjournal { 

	width: 210px;
      height: 220px;
      object-fit: cover;
      margin: 10px;
      margin-bottom: 0;

 }
.box4, .box2 { margin-top: 10px; }

 #button-journal {
 	margin-left: 2em;
 	margin-top: 1em;
 }



 /* FOOTER PAGE STYLES- fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-wrap {

	max-width: 1280px; 
	margin: 0 auto;
	display: grid; 
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 170px 350px; 
	grid-gap: 10px;
	padding: 18.6em 6.2em 15.6em;
}

@media screen and (max-width: 768px) {
	.footer-wrap {display: flex; flex-direction: column; padding:0.1em .1em 0;} 
}

.pictureRow {
	grid-column: 1/-1;
	display: flex; 
	max-width: 1280px; 
	margin: 0 auto;
}

@media screen and (max-width: 736px) {
	.pictureRow {display: none;}
}@media screen and (max-width: 320px) {
	.pictureRow {display: none;}
}

.imgfooter { 
	margin: 10px;
	width: 100%;
    height: 90%;
    object-fit: cover; 
 }

 @media screen and (max-width: 768px) {.contact-info .wraplink{display: none;}}

.contact-info {padding-left: 15px;} 
@media screen and (max-width: 768px) {.contact-info{padding-left: 0;}}
.contact-info h2 {
	font-size: 5em; 
	text-transform: none;
}
@media screen and (max-width: 768px) {.contact-info p{text-align: center;font-size: 1.2em;}}
@media screen and (max-width: 320px) {.contact-info p{text-align: center;font-size: 1.1em;}}
@media screen and (max-width: 768px) { .contact-info h2 {font-size: 3em; text-align: center;}}
@media screen and (max-width: 320px) {.contact-info h2 {font-size: 2.5em;}}
.subscribe {padding-left: 90px;}
.contact-info , .subscribe{padding-top:40px;}
@media screen and (max-width: 768px) {.contact-info{padding-top: 0;} .subscribe {padding-top: 20px; padding-left: 0; margin-top:  !important;}}
@media screen and (max-width: 320px) {.contact-info , .subscribe{padding-top:0;}} 
.footer-wrap .contact-info, .contact-info .pages-link a,  .footer-wrap .subscribe {
	color: #000;
	text-align: left; 
	justify-content: space-between;
}

.contact-info .social-icons {display: flex;}

@media screen and (max-width: 768px){
	.contact-info .social-icons{padding-left: 20px;padding-top: 30px; padding-bottom: 30px;  justify-content: center;}}
@media screen and (max-width: 320px){
	.contact-info .social-icons{padding:20px 0;}}
.social-icons {flex-wrap: wrap; flex-direction: row; padding: 50px 0; }
.social-icons img{padding: 0 20px;}
.contact-info .social-icons :nth-child(1){padding-left: 0;}
.contact-info .pages-link{display: flex; margin-top: 50px;}

.wraplink {flex-wrap: wrap;
}
.contact-info .pages-link a {
	padding: 0 20px;
	color: rgba(0,0,0,0.4);	
	font-family: "Helvetica Neue";	
	font-size: 11px;	
	font-weight: 300;
	letter-spacing: 1.18px;}
.subscribe .mobile-link a {
	padding: 0 20px;
	color: rgba(0,0,0,0.4);	
	font-family: "Helvetica Neue";	
	font-size: 11px;	
	font-weight: 300;
	letter-spacing: 1.18px;
	visibility: hidden;}

.contact-info .pages-link :nth-child(1){padding-left: 0;}
@media screen and (max-width: 768px) {.contact-info .pages-link{display: none !important;}
.subscribe .mobile-link a {visibility: visible;}}

.subscribe {margin-top: 10px;}

.subscribe h3 {font-weight: 400; font-size:30px; margin-bottom: 5%;}
.subscribe p {padding-right: 30%;  margin-bottom: 10%;}
.subscribe form { max-width:70%; }
.subscribe small { font-size: 11px; padding-top: 0 20px; }
@media screen and (max-width: 768px) {
	.subscribe h3 { font-size: 2em;font-weight: 500; text-align: center; }
	.subscribe p {font-size: 1.2em; text-align: center; padding-right: 5%;}
}
@media screen and (max-width: 768px) {.subscribe p {font-size: 1.1em;}}
.subscribe .input {
	position: relative;
	z-index: 2;
	margin-right: 0;
	display: flex;
	flex-flow: row-wrap;
	margin-bottom: 3.2%; 
}

@media screen and (max-width: 720px){.subscribe .input {margin-left: 10%;}}

.subscribe .input  .form-control {
	height: 38px;
	border-radius:0;
	width: 70%;
	font-size: 14px;
	padding-left: 5%;
	border: 1px solid black;
}
@media screen and (max-width: 414px) {.subscribe .input  .form-control { margin-left: 0 !important;}}
@media screen and (max-width: 768px) {.subscribe .input  .form-control {width: 90%; margin-left: 35%;}}
.subscribe .input .btn { height: 38px; 
border-radius:0;
background: #000;
color: #fff;
font-size: 14px;
font-weight: 300;
line-height: 17px;
width: 140%;
	letter-spacing: 1.5px;
display: inline-block;
font-size: 
}
.copyrights{display: flex; margin-top: 3%;}
@media screen and (max-width: 768px){.copyrights{justify-content: center; margin-top: 4% !important;}}

hr { width: 90%; margin-left: 5%; visibility: hidden;  color: rgba(0,0,0,0.4); }
@media screen and (max-width: 768px) {hr{visibility: visible;}}

 /* CONTACT FORM - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form{ 
padding-left: 10%; }
.form-control {
	border-radius: 0;
	border-color: #000;
   	border-width: 0 0 1px 0;
   	border-style: none none solid none;
   	box-shadow: none;

   	color: rgba(0,0,0,0.4);	
   	font-family: "Helvetica Neue";	
   	font-size: 18px;
   	padding: 40px 0 20px;
   	width: 65%;
}
.form-control:focus {
	outline: none;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	position: relative;
	height: 28px;
	width: auto;
	padding:5px 30px;
	border: 1px solid #000 !important;
	color:#000 !important;
	font-size:14px;
	transition: all .2s ease;
	background-color: white;
	top: 40px;
    left: 44%;

}

@media screen and (max-width: 768px) {
	#contact-wrap { padding: 10em 0; }
	.form-control {padding: 20px 0 20px; width: 95%; font-size: 13px;}
	#contact h2, #contact p, #contact .social-icons {text-align: left; justify-content: left; padding-left: 5%;}
	.form{padding-left: 5%;}
	.btn-start-order { top: 30px; left: 60%;}
}

@media screen and (max-width: 320px) {.form-control{padding: 10px 0 10px; }}